openai
numpy
torch
torchvision
tqdm
PyPDF2
tiktoken
modelscope
faiss-gpu
PyMuPDF
jieba
vllm
pdfplumber
PdfReader
langchain
rank_bm25
spacy
langchain-community
sentence-transformers
transformers==4.37.0
text2vec==1.2.9
pyramid==1.10
openai==1.58.1